@media only screen and (max-width : 450px) {
    .container {
        width: 100%;
        background-size:contain;
    }

    .name {
        top: 0px;
        left: 0px;
    }

    .nav-items {
        top: 0px;
        align-items: start;
        justify-content: center;
        gap: 5px;
        width: 200px;
    }

    .center-heading {
        top: 70px;
        left: 148px;
        font-weight: 500;
    }
}