@media only screen and (max-width : 450px) {
    .container {
        width: 100%;
        background-size:contain;
    }

    .name {
        top: 0px;
        left: 0px;
    }

    .nav-items {
        top: 0px;
        justify-content: center;
        gap: 2px;
    }

    .center-heading {
        top: 70px;
        right: 50px;
    }
}